@font-face {
    font-family: 'regular';
    src: url(/doctype/DeterminationMonoWeb.ttf);
}

html{font-family:'regular';}

body{
    background-color:black;background-image:url(./assets/graph_paper.png);
}

#main{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    background: #175b91;
    box-sizing: border-box;
    text-align: left;
}

#titlebar{
    background: black;
    color: white;
    padding: 2px;
}
#titlebar a{
    
    color: white;
    
}
#titlebar a:hover{
    color: black;
    background: white;
    
}
#titlebar span{
    position: absolute;
    transform: translateX(-50%);
    left: 50%
}

#browser{
    float: left;
    width: 360px;
    
}

/* these are the individual links for projects */
#browser div{
    background: #40b0bf;
    text-align: left;
    user-select: none;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    border-radius: 5px;
}

#browser div:hover{
    background: #2f818b;
    cursor: pointer;
}

#browser a {
    color: white;
    text-decoration-color: white;
}

#screenshots{
    width: 370px;
    padding: 10px;
    margin: 10px;
    float: right;
    overflow: hidden;
}

#screenshots img{
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 8px;
    
}

#description{
    width: 370px;
    min-height: 100px;
    float: right;
}

#browser, #screenshots, #description{
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    background: #fcb735;
    border-radius: 8px;
}
