@font-face {
  font-family: 'regular';
  src: url(bed/DeterminationMonoWeb.ttf);
}
body {
    background-color:black;background-image:url(aboutme/flowergrays.png);
}
html{
    font-family:'regular';
}
p {
    padding:10px
}
html {cursor: url("bed/someoneshand.png"), auto;}
a:hover {cursor: url("bed/someoneshand.png"), auto;}
a:link {
    color: #b978e4;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #b978e4;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #dfb0ff;
    background-color: transparent;
}
.center {
    width: 600px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}
#segment {
    width: 600px;
    background: #383838;
    background-image: url('aboutme/stars.png');
    background-repeat: repeat;
    background-attachment: local;
    border-collapse: collapse;
    border-radius: 7px;
    border: 1px solid;
    border-color: white;
    text-align: center;
    animation: 2s alternate fadein, 1.5s alternate slide;

}
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes slide {
    from { transform: translateY(-50px); }
    to { transform: translateY(0px); }
}

.online {
    padding:0px;
    border-radius: 3px;
    border: 3px solid transparent;
    background-color: #c0c4c03d;
}
.online:hover {
    padding:0px;
    border-radius: 3px;
    border: 3px solid transparent;
    background-color: #f5f5f53d;
}
@media only screen and (max-width: 600px) {
    .center {
        width: auto;
        margin: 0 auto;
        padding: 0;
        position: absolute;
        top: 30%;
        left: 0;
        margin-left: 20%;
        transform: translate(0, -30%);
    }
    #segment {
        width: 80%;
        background: #383838;
        background-image: url('aboutme/stars.png');
        background-repeat: repeat;
        background-attachment: local;
        border-collapse: collapse;
        border-radius: 7px;
        border: 1px solid;
        border-color: white;
        text-align: center;
        padding: 0px;
        animation: 2s alternate fadein, 1.5s alternate slide;    
    }
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
