@font-face {
    font-family: 'monospace';
    src: url('/doctype/Profontwindows.ttf');
}

@font-face { 
    font-family: 'Determination'; 
    src: url('/doctype/DeterminationMonoWeb.ttf'); 
}

a{
    color: rgb(206, 206, 206);
}
a:hover{
    color: rgb(255, 255, 255);
}

:root{
    --term_border: lightgreen;
    --term_highlight: lightgreen;
    --term_bg: rgba(0, 0, 0, 0.582);
    --term_fg: white;
    --term_font: 'monospace';
    --term_font_size: 15px;
}
#shellInput{
    color: var(--term_fg);
    font-family: var(--term_font);
    height: var(--term_font_size);
    font-size: var(--term_font_size);
    width: 1ch; margin-left: -3px;
    text-align:left; text-indent: 1px;
    border: none; outline: none; background: none;
    caret-color: var(--term_highlight);
    padding-top: 0;
    padding-bottom: 0;
    overflow-y: auto;
    overflow-wrap: break-word;
    white-space: normal;
}
#shellInput:focus{ outline: none; }
#terminal-container-window {
    top: 30px;
    text-align: left;
    position: absolute;
    border: 1px solid var(--term_border);
    border-radius: 2px;
    background: var(--term_bg);
    font-family: var(--term_font);
}
#terminal {
    padding-top: 0;
    overflow-y: scroll;
    color: var(--term_fg);
    font-size: var(--term_font_size);
    padding: 10px;
    box-sizing: border-box;
}
#shellParagraph{
    /* overflow-y: scroll; */
    padding: 0px 10px 10px 10px;
    padding: 0px;
    /* padding-left: 10px; */
    margin: 0px;
    
    
}   

#shellParagraph::selection, #shellInput::selection{
    color: var(--term_bg);
    background: white;
}

/*                */
/* CONSOLE COLORS */
/*                */



.clightgray{
    color: rgb(204, 204, 204);
}

.cprefix{
    color: rgb(119, 197, 109);
}

.cprefixerr{
    color: rgb(197, 109, 109);
}


/*         */
/* TASKBAR */
/*         */

#taskbar{ 
    font-family: 'Determination';
    color:white;
    line-height: 16px; width: 100vw;
    position: fixed; display: flex; top: 0; left:0;
    white-space:nowrap;
    background-color: var(--term_bg);
    padding: 3px 2px 4px 2px;
}

#fps { text-align: left; color: rgb(0, 224, 0); margin-left: 10px; }
#exit { width: 70px; text-decoration: underline; color: inherit; margin-left: 4px; }
#exit:hover { color: black; background-color: white; }
#exit::selection{ color: var(--translucent-bg); background-color: white; }
#jsclock { margin-right: 6px; width:70px; cursor: default; position: absolute; right: 0; }

#calendar {
    position: absolute;
    right:0;
    z-index: 1;
    background-color: inherit;
    padding: 4px;
    margin: 30px 15px 0px 0px;
    display: none;
}

#calendar img{
    width: 300px;
}

/*                  */
/* CHROME SCROLLBAR */
/*                  */

::-webkit-scrollbar {
    width: 1.1em;  /* Total width including `border-width` of scrollbar thumb */
    height: 0;
}
::-webkit-scrollbar-thumb {
    height: 1em;
    border: 0.5em solid rgba(0, 0, 0, 0);  /* Transparent border together with `background-clip: padding-box` does the trick */
    background-clip: padding-box;
    -webkit-border-radius: 1em;
    background-color: rgba(189, 189, 189, 0.479);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.025);
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(189, 189, 189, 0.788);
    border: 0.4em solid rgba(0, 0, 0, 0);  /* Change the border width so scrollbar gets thicker on hover */
}

::-webkit-scrollbar:hover {
    width: 1.5em;  /* Total width including `border-width` of scrollbar thumb */
    height: 0;
}
