/* html stuff start */
@font-face {
  font-family: 'regular';
  src: url(doctype/DeterminationMonoWeb.ttf);
}
@font-face {
    font-family: 'monospace';
    src: url(doctype/Profontwindows.ttf);
}
:root {
    --site-bg: rgb(0, 0, 0);
    --site-fg: white;
    --translucent-bg: rgba(0, 0, 0, 0.63);
}
html{ font-family:'regular';}

a{color: #e0ba4f}
a:link { text-decoration: underline; }

.vcenter{ position: absolute; left: 50%; transform: translatex(-50%); }
/* html stuff end */

#leftbar{
    text-align: left;
    float: left;
    width: 200px;
    background-color: rgb(218, 218, 218);
    border: 2px solid black;
    color: black;
    padding: 10px;
    margin-right: 10px;
}

#leftbar a:hover{
    color: white; background-color: #aa8728;
}
#leftbar a{
    background-color: black;
    color: white;
    text-decoration: none;
    width: 200px;;
}
    
#gazetteDisplay{
    float: left;
    width: 1020px;
    border: 2px solid var(--translucent-bg);
    background-image: url('/graphics/scenery/options_dark.png');
}

#segment {
    overflow-y: scroll;
    color: white;
    text-align: center;
    width: 1308px;
    background-color: #00000055;
    padding: 20px;
    overflow: auto;
    background-position: center;
    box-sizing: border-box;
    background-repeat: repeat;
    margin-bottom: 20px;
}

#epic_title{
    white-space: nowrap;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 8px black;
    font-size: 3em;
    margin-bottom: 10px;
}

.preview{
    float: left;
    color: black;
    text-align: left;
    background-color: rgb(218, 218, 218);
    background-position: center;
    overflow-y: scroll;
    padding: 0px 16px 0px 16px;
    margin: 10px;
    width: 316px; height: 90px;
    line-height: 14px;
    box-sizing: border-box;
}

.preview h1{
    display: inline-block;
    margin-bottom: 0px;
    font-size: medium;
    text-align: left
}

.preview a{
    color: unset;
    text-decoration: none;
}

.preview a:hover{
    background-color: #0000003f;
}

.entry_year{
    overflow: auto;
    height: auto;
    width: auto;
}

.entry_year h2{
    font-weight: normal;
    text-decoration: underline;
    font-size: x-large;
    margin-bottom: 0px;
    margin-left: 16px;
    text-align: left;
}

#bigviewer{
    position: relative;
    text-align: left;
    margin: 10px;
    color: black;
    background-color: rgb(218, 218, 218);
    padding-bottom: 30px;
    padding-top: 10px;
}

#bigviewercontainer{
    width: 826px;
    left: 50%;
    transform: translatex(-50%);
    position: relative;
    margin-top: -5px;
}

#article_info_bar{
    border-bottom: 1px solid rgba(0, 0, 0, 0.582);
}

#article_info_bar_bottom{
    padding-bottom: 5px;
    padding-top: 20px;
    border-bottom: 1px solid black;
}

#article_text{
    text-align: left;
}

#article_text a{
    color: revert;
}

#article_info_bar_bottom a{
    background-color: #00000081;
}