@font-face {
    font-family: 'regular';
    src: url(bed/DeterminationMonoWeb.ttf);
}
body {
    background-color:black;
    background-image:url(graphics/city.png);
    background-size: cover;
    background-attachment: fixed;
    background-position:left;
    /* background-color:black;
    background-image:url(graphics/scenery/sharkfish.png);
    background-size: 300px; */
}
html{font-family:'regular';}
html {cursor: url("bed/someoneshand.png"), auto;}
a:hover {cursor: url("bed/someoneshand.png"), auto; }
a:link {
    color: #e67300;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: 	#993300;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #ffa64d;
    background-color: transparent;
}
.icon {
    padding:0px;
    border-radius: 3px;
    border: 3px solid #c0c4c0;
    background-color: #c0c4c0;

}
.icon:hover {
    padding:0px;
    border-radius: 3px;
    border: 3px solid #dbdbdb;
    background-color: #dbdbdb;
}
.artheads {
    float: left;
    padding-right: 15px;
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    
}
.grid-child {
    background-image: url(bed/1234.jpg);
    background-color:black;
    background-repeat:repeat;
    background-attachment: local;
    border: 1px solid;
    padding: 2px;
    
}
.column {
    float: left;
    padding:5px;
}
.row{
    margin:13px;
    margin-bottom: -10px;
    margin-top: -10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
#segment {
    width: 900px;
    background: #383838;
    background-image: url('aboutme/stars.png');
    background-repeat: repeat;
    background-attachment: local;
    border-collapse: collapse;
    border-radius: 7px;
    border: 1px solid;
    border-color: white;
    text-align: center;
}
.center {
    width: 900px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.link {
    -webkit-transition: 0.25s;
    transition: 0.25s;
    margin-top: 2px;
    margin-bottom: 2px;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}
.link:hover {
        transform: scale(1.5, 1.5);
        -webkit-transition: 0.1s;
        transition: 0.1s;
}
.inline{
    padding:10px;
    margin: 10px;
}
@media only screen and (max-width: 600px) {
    .center {
        width: auto;
        margin: 0 auto;
        padding: 0;
        position: absolute;
        top: 30%;
        left: 0;
        margin-left: 20%;
        transform: translate(0, -30%);
    }
    #segment {
        width: 80%;
        background: #383838;
        background-image: url('aboutme/stars.png');
        background-repeat: repeat;
        background-attachment: local;
        border-collapse: collapse;
        border-radius: 7px;
        border: 1px solid;
        border-color: white;
        text-align: center;
        padding: 0px;
    }
}