@font-face { font-family: 'regular'; src: url('/doctype/DeterminationMonoWeb.ttf'); }
@font-face { font-family: 'Determination'; src: url('/doctype/DeterminationMonoWeb.ttf'); }
@font-face { font-family: 'monospace'; src: url('/doctype/Profontwindows.ttf'); }
@font-face { font-family: 'GenericMobile'; src: url('/doctype/GenericMobileSystem.ttf'); }
@font-face { font-family: 'GenericMobileN'; src: url('/doctype/GenericMobileSystemNuevo.ttf'); }
@font-face { font-family: 'com'; src: url('/doctype/Comodore64.woff2'); }

:root {
    --site-bg: rgb(0, 0, 0);
    --site-fg: white;
    --translucent-bg: rgba(0, 0, 0, 0.63);
}

html{ font-family:'regular';}

body{
    background-color: var(--site-bg);
    line-height: 18px;
}
  
a{ 
    color: #aa8728;
}

a:link { text-decoration: underline; }
.textbox a:hover{ text-decoration: none; color: white; background-color: #aa8728;}
::selection{ color: var(--site-fg); background: var(--translucent-bg); }

#taskbar{ 
    color:white;
    line-height: 16px; width: 100vw;
    position: fixed; display: flex; top: 0; left:0;
    white-space:nowrap;
    background-color: var(--translucent-bg);
    padding: 3px 2px 4px 2px;
}

#fps { text-align: left; color: rgb(0, 224, 0); margin-left: 10px; }
#exit { width: 70px; text-decoration: underline; color: inherit; margin-left: 4px; }
#exit:hover { color: black; background-color: white; }
#exit::selection{ color: var(--translucent-bg); background-color: white; }
#jsclock { margin-right: 6px; width:70px; cursor: default; position: absolute; right: 0; }

#calendar {
    position: absolute;
    right:0;
    z-index: 1;
    background-color: inherit;
    padding: 4px;
    margin: 30px 15px 0px 0px;
    display: none;
}

#calendar img{
    width: 300px;
}

.textbox {
    padding: 1px;
    text-align: left;
    background-color: white;
    background-image: url('/graphics/scenery/textbg.png'); 
}

  
#barcode img{
    filter: invert(1);
    image-rendering: pixelated;
}

#barcode a img:hover{
    filter: invert(0);
    background-color: white;
}

.ctext{ text-align: center; }
.noselection::selection, label::selection, #barcode img::selection{ background: unset; color:unset;}
.noselection::selection{cursor: default;}

#prison {
    text-align: center;
    width: 1050px;
    padding: 10px;
    position: relative;
    overflow: auto;
    background-position: center;
    box-sizing: border-box;
    border: 2px solid var(--translucent-bg);
    border-collapse: collapse;
    background-repeat: repeat;
    margin-bottom: 20px;
    height: 570px;
}
#prison:before{
    content: ""; opacity: 0.9;
    position: absolute; z-index: -1;
    top: 0; bottom: 0; left: 0; right: 0;
    background-image: url(graphics/scenery/options_dark.png);
}
  
#navigator{
    position: absolute;
    top: 0px;
    left: 10px;
}
#navigator .textbox{
    margin-bottom: 10px; 
    width: 314px;
}
  
#sitenav{
    margin-top: 13px;
    text-align: center;
}
#sitenav a{      
    text-align: left;
    display: block;
    margin: 2px 2px 0px 2px;
    padding: 0px 5px 0px 5px;
    background-color: black;
    color: white;  
    text-decoration: none;
}

#sitenav a:hover{
    background-color: #aa8728;
}

#articledisplay {
    position: absolute;
    right: 10px; bottom: 60px;
    margin-left: 10px;
    width: 315px; height: 190px;
    box-sizing: border-box;
    outline: 1px solid rgba(255, 255, 255, 0.35);
    background-color: rgba(37, 37, 37, 0.63);
}
#articledisplay img{
    box-sizing: border-box;
    width: 315px;
    height: 190px;
    position: absolute;
    top: 0px; left: 0px;
    object-fit: cover;
    border: none;
    outline: none;
    /* background-image: url('/graphics/scenery/checkerboard-tilted.png'); */
}

/* If empty */
#articledisplay img[src='/graphics/scenery/transparent.png']{
    background-image: url('/graphics/scenery/44866770_gQA.jpg');
    background-color: white;
}

#articledisplay a{
    border: none;
    outline: none;
}
#articledisplay div{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    width: 315px;
    height: 40px !important;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#siteheader { 
    font-family: 'Determination';
    color: #d3a937;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: -50px;
    box-sizing: border-box;
    background-color: rgba(22, 22, 22, 0.76);
    padding: 10px;
    font-size: xx-large;
}

#header_left,
#header_right{
    background-color: rgba(22, 22, 22, 0.76);
    position: absolute;
    top: -50px;
    height: 38px;
    image-rendering: pixelated;
    padding-left: 0px;
    padding-right: 0px;
    width: 70px;
    object-fit: cover;
    object-position: bottom;
    
}

#header_left img,
#header_right img{
    height: 36px;
    width: 60px;
    object-fit: cover;
    object-position: bottom;
    filter: invert(61%) sepia(65%) saturate(447%) hue-rotate(6deg) brightness(99%) contrast(88%);
}

#header_left{
    left: 300px;
}

#header_right{
    right: 300px;
}

#ViewPort3D{ 
    width: 140px; height: 165px; position: absolute; right: 0; bottom: 0; 
    margin-right: 330px;
    /* background-color: #3d3d3d3d; outline: 1px solid rgba(255, 255, 255, 0.356); */
    margin-bottom: 50px;
    border: none; padding: 5px; box-sizing: border-box;
}

  
.hcenter{ position: absolute; left: 50%; transform: translateX(-50%) }
.vhcenter{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.bob { -webkit-transition: 0.05s; transition: 0.05s; }
.bob:hover { transform: translate(0px, -4px); -webkit-transition: 0.05s; transition: 0.05s; }

#pfpcontainer{
    position: absolute;
    bottom: 12px;
}

#pfp{
    background-color: rgba(255, 255, 255, 0.473);
    background-color: rgba(0, 0, 0, 0.61);
    position:absolute;
    width: 100px; height: 100px;
}

#status {
    display: flex;
    overflow: auto;
    background: white;
    margin-left: 100px;
    padding: 23px 12px 14px 12px;
    min-width: 140px;  max-width:216px;
    min-height: 100px; max-height: 400px;
    box-sizing: border-box;
    justify-content: center; align-items: center;
    background-color: #1c1624;
    background-image: url('graphics/scenery/stars.png');
    background-size: 128px;
    color: rgb(206, 206, 206);
    border: 1px solid rgba(255, 255, 255, 0.473);
}

#statusText::selection,
#statusTitle::selection,
#statusTitle a::selection{
    background: rgb(206, 206, 206);
    color: #1c1624;
    
}
#statusTitle a{
    text-decoration: none;
    color: unset;
    
}

#statusTitle a:hover{
    /* color: rgb(230, 230, 230); */
}

#statusBackground {
    box-sizing: border-box;
    position: absolute; 
    left: 110px;
    bottom: 12px;
    width: 216px; height: 100px;
    background-color: black;
    background-image: url(graphics/scenery/static.gif); image-rendering: pixelated;
}

#statusTitle {
    position: absolute;
    margin-top: 3px; top:2px;
    padding: 0px 10px 0px 10px;
    color: rgba(255, 255, 255, 0.726);
    border-bottom: 1px solid rgba(255, 255, 255, 0.473);
    min-width: 60px; max-width: 170; height: 19px;
}

#selfButton {
    padding-top: 5px;
    border-radius: 2px;
    font-size: small;
    background-color: rgba(65, 65, 65, 0.589);
    position: absolute; 
    bottom: 60px;
    left: 420px;
    width: 148px; height: 72px;
}

#selfButton .textbox{
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
    text-align: center;
    position: absolute; bottom: 0;
}
  
#buttonIMG{ height: 31px; image-rendering: pixelated;}
#buttonIMG:hover{ cursor: pointer; }
#buttonWall {
    display: none;
    box-sizing: border-box;
    padding: 0px;
    height: 35px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: end;
    bottom: 0; right: 0;
    margin: 0px 10px 12px 0px;
}
#buttonWall img { 
    float:left; height: 31px; image-rendering: pixelated;
    transition: box-shadow 0.1s ease-in-out;
}
#buttonWall a img:hover {box-shadow: 10px 5px 20px -4px rgba(15, 15, 15, 0.555), -10px 5px 20px -4px rgba(15, 15, 15, 0.555);}
    
#date{ color: var(--site-fg); margin-top: 20px; text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.726)}
#date::selection{ color: var(--site-bg); background: var(--site-fg); text-shadow: none;}
#contact{ color: var(--site-fg)}

#introduction{
    height: 200px;
    top: 240px;
    box-sizing: border-box;
    width: 316px;
    position: absolute;
    background-color: rgb(245, 245, 245);
    padding: 10px;
    background-image: 
            linear-gradient(
                rgba(0, 0, 0, 0.75), 
                rgba(0, 0, 0, 0.75)
            ),
            url("/graphics/scenery/flowergrays.png");
            background-size: 256px;
    backdrop-filter: blur(18px);
    color: rgb(230, 230, 230);
}
#introduction p{
    margin: 0px;
    width: 100%;
    text-align: left;
    overflow-wrap: break-word;
}

.rainbow-background:hover {
    background-image: 
            linear-gradient(
                rgba(0, 0, 0, 0.12), 
                rgba(0, 0, 0, 0.12)
            ),
            url("/graphics/scenery/linea.gif");
    text-shadow: 0 0 3px black;
    background-size: 150%;
}  

.mobileOnly{
    visibility: hidden;
}

#visitor{
    z-index: 10;
    margin: 0px;
    height: auto;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

#visitor img{
    width: inherit;
    margin: 0px;
    margin-bottom: -4px;
    box-sizing: border-box;
}

#leftpanel{
    float: left;
    height: auto;
    position: absolute;
    left: -190px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

#leftpanel div{
    margin-bottom: 20px;
    width: 180px;
}

#updates{
    text-align: left;
    border: 1px solid black;
    overflow: auto;
    box-sizing: border-box;
    color: black;
    background-color: rgb(218, 218, 218);
}

#updates h1{
    margin: 0px;
    font-size: 16px;
    text-align: center;
    font-style: italic;
    
}

#updates p{
    margin: 0px;
}

#updates #article_list{
    border-top: 1px solid black;
    height: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    padding-bottom: 0px;
    margin: 0px;
}
#updates #article_list a{
    height: 200px;
    position: relative;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

#updates #article_list p{
    color: #3d3d3d;
}

#news_link_div{
    text-decoration: none;
    width: 100% !important;
    box-sizing: border-box;
    padding: 4px; margin: -18px 0px -18px 0px !important;
}

#news_link_a{
    padding: 1px;
    text-decoration: none;
}

#updates #article_list div{
    box-sizing: border-box;
    position:relative;
    
    width: 100%;
    margin: 2px;
    right: 2px;
}

#updates #article_list div{
    background-color: #00000013;
}

#updates a div:hover{
    background-color: #0000003f !important;
}

#updates #article_list a p{
    margin-bottom: 10px;
}


/* font test */
.MSSans{
    font-family: 'MSSans';
    font-size: 14px;
}
.gmb{
    font-family: 'GenericMobile';
}
.gmbn{
    font-family: 'GenericMobileN';
}
.regular{
    font-family: 'regular';
}
.none{
    font-family: 'none';
}
.none{
    font-family: 'com';
}
