@font-face { font-family: 'Determination'; src: url('/doctype/DeterminationMonoWeb.ttf'); }
@font-face { font-family: 'monospace'; src: url('/doctype/Profontwindows.ttf'); }
@font-face { font-family: 'GenericMobile'; src: url('/doctype/GenericMobileSystem.ttf'); }
@font-face { font-family: 'GenericMobileN'; src: url('/doctype/GenericMobileSystemNuevo.ttf'); }
@font-face { font-family: 'com'; src: url('/doctype/Comodore64.woff2'); }

:root {
    --site-bg: rgb(0, 0, 0);
    --site-fg: white;
    --translucent-bg: rgba(0, 0, 0, 0.63);
}

html{ 
    font-family:'Determination';
}

body{
    background-color: var(--site-bg);
    line-height: 18px;
}
  
a{ 
    color: #aa8728;
}

a:link { text-decoration: underline; }
.textbox a:hover{ text-decoration: none; color: white; background-color: #aa8728;}
::selection{ color: var(--site-fg); background: var(--translucent-bg); }


.textbox {
    padding: 1px;
    text-align: left;
    background-color: white;
    background-image: url('/assets/background/textbg.png'); 
}

  
#barcode img{
    filter: invert(1);
    image-rendering: pixelated;
}

#barcode a img:hover{
    filter: invert(0);
    background-color: white;
}

.ctext{ text-align: center; }
.noselection::selection, label::selection, #barcode img::selection{ background: unset; color:unset;}
.noselection::selection{cursor: default;}

#prison {
    text-align: center;
    width: auto;
    padding: 10px;
    position: relative;
    overflow: auto;
    background-position: center;
    box-sizing: border-box;
    border-radius: 6px;
    border-collapse: collapse;
    width: 672px;
}
  
#navigator{
    float: left;
    top: 0px;
    left: 10px;
}
#navigator .textbox{
    margin-bottom: 10px; 
    width: 314px;
}
  
#sitenav{
    text-align: center;
}

#sitenav a{      
    text-align: left;
    display: block;
    margin: 2px 2px 0px 2px;
    padding: 0px 5px 0px 5px;
    background-color: black;
    color: white;  
    text-decoration: none;
}

#sitenav a:hover{
    background-color: #aa8728;
}

#siteheader { 
    font-family: 'Determination';
    color: #d3a937;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: -50px;
    box-sizing: border-box;
    padding: 10px;
    font-size: xx-large;
    width: auto;
}

#siteheader,
#header_left,
#header_right{
    line-height: 18px;
    outline: 1px solid rgba(255, 255, 255, 0.24);
    background-color: rgba(39, 39, 39, 0.76);
}

#header_left,
#header_right{
    position: absolute;
    top: -50px;
    height: 38px;
    image-rendering: pixelated;
    padding-left: 0px;
    padding-right: 0px;
    width: 70px;
    object-fit: cover;
    object-position: bottom;
    
}

#header_left img,
#header_right img{
    height: 36px;
    width: 60px;
    object-fit: cover;
    object-position: bottom;
    filter: invert(61%) sepia(65%) saturate(447%) hue-rotate(6deg) brightness(99%) contrast(88%);
}

#header_left{
    left: 50%;
    transform: translateX(-50%);
    margin-left: -190px;
}

#header_right{
    left: 50%;
    transform: translateX(-50%);
    margin-left: 190px;
}

#ViewPort3D{ 
    /* image-rendering: pixelated; */
    width: 140px; height: 165px; position: absolute; right: 0; bottom: 0; 
    margin-right: 330px;
    /* background-color: #3d3d3d3d; outline: 1px solid rgba(255, 255, 255, 0.356); */
    margin-bottom: 50px;
    border: none; padding: 5px; box-sizing: border-box;
}



  
.hcenter{ position: absolute; left: 50%; transform: translateX(-50%) }
.vhcenter{ 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.bob { -webkit-transition: 0.05s; transition: 0.05s; }
.bob:hover { transform: translate(0px, -4px); -webkit-transition: 0.05s; transition: 0.05s; }
    
#date{ color: var(--site-fg); margin-top: 20px; text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.726)}
#date::selection{ color: var(--site-bg); background: var(--site-fg); text-shadow: none;}
#contact{ color: var(--site-fg)}

#portrait{
    height: 175px;
}

#greeter{
    margin-left: 20px;
    float: left;
    height: 175px;
    bottom: 120px;
    outline: 1px solid rgba(255, 255, 255, 0.411);
    box-sizing: border-box;
    width: 316px;
    background-color: rgb(245, 245, 245);
    padding: 10px;
    background-image: 
            linear-gradient(
                rgba(0, 0, 0, 0.75), 
                rgba(0, 0, 0, 0.75)
            ),
            url("/assets/background/flowergrays.png");
            background-size: 256px;
    backdrop-filter: blur(18px);
    color: rgb(230, 230, 230);
}
#greeter p{
    margin: 0px;
    width: 100%;
    text-align: left;
    overflow-wrap: break-word;
}

.rainbow-background:hover {
    background-image: 
            linear-gradient(
                rgba(0, 0, 0, 0.12), 
                rgba(0, 0, 0, 0.12)
            ),
            url("/assets/background/linea.gif");
    text-shadow: 0 0 3px black;
    background-size: 150%;
}  

.mobileOnly{
    visibility: hidden;
}

#visitor{
    z-index: 10;
    margin: 0px;
    height: auto;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

#visitor img{
    width: inherit;
    margin: 0px;
    margin-bottom: -4px;
    box-sizing: border-box;
}

#leftpanel{
    float: left;
    height: auto;
    position: absolute;
    left: -190px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

#leftpanel div{
    margin-bottom: 20px;
    width: 170px;
}

#updates{
    text-align: left;
    border: 1px solid black;
    overflow: auto;
    box-sizing: border-box;
    color: black;
    background-color: rgb(218, 218, 218);
}

#updates h1{
    margin: 0px;
    font-size: 16px;
    text-align: center;
    font-style: italic;
    
}

/* font test */
.MSSans{
    font-family: 'MSSans';
    font-size: 14px;
}
.gmb{
    font-family: 'GenericMobile';
}
.gmbn{
    font-family: 'GenericMobileN';
}
.regular{
    font-family: 'regular';
}
.none{
    font-family: 'none';
}
.none{
    font-family: 'com';
}
