@font-face {
  font-family: 'regular';
  src: url(graphics/doctype/DeterminationMonoWeb.ttf);
}
body {
    background-color: white;
    background-image: url(graphics/scenery/halloweens.png);
    background-size: 250px;
    overflow-y: scroll;
 overflow-x: hidden;
}

html{
    font-family:'regular';
    
}
button {
    all: unset;
    cursor: pointer;
}
::-moz-selection { /* Code for Firefox */
    color: rgba(255, 255, 255, 0.486);
    background: rgba(0, 0, 0, 0.411);
}
::selection {
    color: rgba(255, 255, 255, 0.486);
    background: rgba(0, 0, 0, 0.397);
}

html {cursor: url("graphics/arts/handsomeones.png"), auto;}
a:hover {cursor: url("graphics/arts/handsomeones.png"), auto;}
a:link {
    color: #e67300;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: 	#993300;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #ffa64d;
    background-color: transparent;
}
#mainPane {
    width:100%;
    height:100%;
    text-align: center;
}
#footer{
    background:red;
    background-color: rgb(203, 203, 203);
    background-attachment: scroll, scroll;
    background-size: 280px, 100px;
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    text-align: left;
    padding-top: 1px;
    padding-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top:-12px;
    bottom:0;
    color: black;
    clear: both;
    height: 10px;
    line-height: 1px;
    border-top: 2px solid white;
}
#secondPane{
    background-color:black;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    width: 110%;
    height: 100px;
    background-image: url(graphics/scenery/halloween.png);
}
#mywindow {
    width: 690px;
    background: #383838;
    background-image: url(graphics/scenery/chalk.jpg);
    background-repeat: repeat;
    background-attachment: local;
    border-collapse: collapse;
    border: 1px solid;
    text-align: center;
    padding: 10px;
}
#funs {
    width: 200px;
    background: #ffffff;
    text-align: center;
    background-attachment: local;
    text-align: center;
    margin-top: 10px;
    border: solid 1px;
}
#terminal{
    color: orange;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.863);
    background-repeat:no-repeat;
    background-attachment: local;
    background-size:cover;
    padding:0px;
    border-radius: 10px;
    border: 3px solid transparent;
}
.term::selection {
    color: black;
    background: orange;
}
.term a::selection{
    background: orange;
    color: black;
}
.term a:visited{
    color: orange;
}
.term a:hover{
    color: rgb(255, 199, 96);
}
form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 3px solid transparent;
    background: rgba(255, 166, 0, 0.233);
}
.noscroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar {
    display: none;
}
input {
    padding: 6px 10px;
    all: unset;
    height: 100%;
    text-align: left;
    width: 100%;
}
input:placeholder-shown {
  text-align: left;
}
.icon {
    padding:0px;
    border-radius: 3px;
    border: 3px solid transparent;
    background-color: #c0c4c0;
    
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
}
.icon:hover {
    padding:0px;
    border-radius: 3px;
    border: 3px solid #dbdbdb;
    background-color: #dbdbdb;
}
.link {
    -webkit-transition: 0.25s;
    transition: 0.25s;
    margin-top: 2px;
    margin-bottom: 2px;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}
.link:hover {
        transform: scale(1.5, 1.5);
        -webkit-transition: 0.1s;
        transition: 0.1s;
}
.pfp {
    border: 5px outset #c0c4c0;
    padding:0px;
    height:240px;
    width:240px;
    margin-top:15px;
    background-color:black;
    background-image: url(graphics/scenery/checkertranslucent.gif);
    z-index: 3;
} 
.pfp:hover {
    border: 5px outset #ffa64d;
}
.petpet{
    opacity:0;
}
.petpet:hover{
    opacity:1;
    cursor:none;
}
.badImage {
    margin-top: 2px;
    margin-bottom: 2px;
    image-rendering: pixelated;
}
.electricPanels{
    border: 5px outset #c0c4c0;
    height:112px;
    width: 260px;
    text-align: center;
    margin-top:-3px;
    background-color:white;
    background-image:url(graphics/scenery/rubby.png);   
}
#tv{
    border: 5px outset #c0c4c0;
    width: 260px;
    height:146;
    text-align: center;
    margin-top:-3px;
    background:black;
    background-image: url(graphics/scenery/static.gif);
}
#tv:hover{
    border: 5px outset #ffa64d;
}
.ytp-title-channel{
    display: none;
}
.panelHeader{
    color:white;
    height:16px; 
    margin-left:0px; 
    margin-top:-5px;
    border-top: 5px outset #c0c4c0;
    border-bottom: 5px outset #c0c4c0;
    width: 260px;
    text-align: center;
    background-color:white;
    background-image:url(graphics/scenery/static.gif);
    
}
.column {
    float: left;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* KYOO START */
@font-face {
    font-family: 'MSSansBold';
    src: url('https://leonidas.neocities.org/fonts/MSSansBold.ttf') format("truetype");
}
.mask:hover{
    opacity: 0;
}
.window {
    display:block;
    background:#D1D5DB;
    color:black;
    box-shadow:
      inset -1px -1px #0a0a0a,
      inset 1px 1px #dfdfdf,
      inset -2px -2px grey,
      inset 2px 2px #fff;
    padding:3px;
}
.title-bar {
    display:flex;
    background-image:linear-gradient(to right, rgb(180, 117, 0), #ffd000); 
    align-items:center;
    justify-content:space-between;
    padding: 1px 2px 0px 3px;
}
.title-bar-text {
  color:#fff;
  font-family:mssansbold;
  font-size:11px;
  font-weight:bold;
  line-height:18px;
}
.title-bar-controls {
    display:flex;
}
.title-bar-controls button {
    padding:0;
    display:block;
    min-height:14px;
    min-width:16px;
    border:none;
    border-radius:0;
    box-sizing:border-box;
    background:#D1D5DB;
    box-shadow:
    inset -1px -1px #0a0a0a,
    inset 1px 1px #fff,
    inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
}
.title-bar-controls button:active {
    padding: 0;
}
.title-bar-controls button:focus {
    outline: none;
}
.title-bar-controls button[aria-label="Minimize"] {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 0h6v2H0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: bottom 3px left 4px;
}	
.title-bar-controls button[aria-label="Maximize"] {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0H0v9h9V0zM8 2H1v6h7V2z' fill='%23000'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top 2px left 3px;
}	
.title-bar-controls button[aria-label="Close"] {
    margin-left: 2px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top 3px left 4px;
}	