/* change stuff as screen gets smaller */
@media only screen and ( max-width: 600px ) {
    /* hidden stuff: */
    .desktopOnly
    {
        display: none;
        visibility: hidden;
        height: 0px; width: 0px;
        margin: 0px; padding: 0px;
        position: absolute; top: 0; left:0;                 
    }
    #fps{
        visibility: hidden;
    }
    #ViewPort3D{
        width: 315px; height: 235px; position: absolute; right: 0; bottom: 0; margin: 0px 15px 55px 0px;
        border: none; padding: 5px; box-sizing: border-box; background-image:  url('/graphics/scenery/hash.png');
        background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('/graphics/scenery/hash.png');
        border-image: url("/images/border.png") 30 30 repeat;
        margin: 0px 0px 5px 0px;
        position: relative;
        width: 100%; height: 110px;
        box-sizing: border-box;
    }
    #donut, #afterStatus{
        visibility: visible;
        position: absolute;
        padding: 0px;
        margin: 0px 0px 14px 340px;
        bottom: 0;
        left: 0;
    }
    #afterStatus { top: 0; }
    .mobileOnly {
        visibility: visible;
    }
    /* site stuff start */
    #led { width: 100%; height: auto; max-width: 400px;}
    #leftcontent{float:none;}
    #daddydiv{
        position: absolute;
        top: 0; left: 0;
        padding: 0px 0px 0px 0px;
        transform: none;
        border: none;
    }
    #prison {
        top: 23px;
        width: 100%;
        min-height: 615px;
        padding: 10px;
        position: relative;
        overflow: auto;
    }
    #date{
        position: relative;
        top: 16px;
    }
    #leftcontent .textbox{
        width: 100%;
    }
    .textbox {
        width: 100%;
    }
    #gazette {
        position: relative;
        overflow-y: scroll;
        top:0;
        
        margin: 0px 0px 0px 0px;
        width: 100% ; height: 150px;
        float: left;
    }
    #date{ margin-top: -10px; }
}
@media only screen and ( max-width: 445px ) {
    #status {
        min-width: 80px;
        max-width: unset;
        width: auto;
    }
    #statusBackground { width: calc(100% - 120px); }
    #donut { display: none; }
}