@font-face {
    font-family: 'regular';
    src: url(/doctype/Minecraft.otf);
}
@font-face {
    font-family: 'bold';
    src: url(/doctype/MinecraftBold.otf);
}

html{font-family:'regular';}

body{
    background-color:black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(/graphics/scenery/cobblestone.png);
}

b{
    font-family: bold;
    font-weight: normal;
}

#main{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    background: #175b91;
    box-sizing: border-box;
    text-align: left;
}

#titlebar{
    background: black;
    color: white;
    padding: 4px;

}
#titlebar a{
    color: white;   
}

#titlebar a:hover{
    color: black;
    background: white;
    
}

#titlebar span{
    position: absolute;
    transform: translateX(-50%);
    left: 50%
}

#titlebar img{
    height: 2ch;
    align-self: center;
    vertical-align:middle;
}

#browser{
    float: left;
    width: 360px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    background: #fcb735;
    border-radius: 8px;
    
}

#browser div{
    background: #40b0bf;
    text-align: left;
    user-select: none;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    border-radius: 5px;
}

#browser div:hover{
    background: #2f818b;
    cursor: pointer;
}

#browser a {
    color: white;
    text-decoration: none;
    background-color: #52a535;
    padding: 1px;
}
#browser a:hover {
    background-color: #69ce44;
}
