@font-face {
    font-family: 'monospace';
    src: url(doctype/Profontwindows.ttf);
}
:root{
    --term_border: lightgreen;
    --term_highlight: lightgreen;
    --term_bg: rgb(26, 26, 26);
    --term_fg: white;
    --term_font: 'monospace';
    --term_font_size: 15px;
}
#shellInput{
    width: 1ch;
    text-align:left;
    text-indent: 1px;
    margin-left: -3px;
    color: var(--term_fg);
    font-family: var(--term_font);
    font-size: var(--term_font_size);
    height: var(--term_font_size);
    border: none;
    outline: none;
    background: none;
}
#shellInput:focus{outline: none;}
#terminal-container-window {
    text-align: left;
    position: absolute;
    resize:both;
    border: 3px solid var(--term_border);
    border-radius: 3px;
    background: var(--term_bg);
    font-family: var(--term_font);
    font-size: var(--term_font_size);
}
#terminal {
    height: 200px;
    padding-top: 0;
    overflow-y: scroll;
    color: var(--term_fg);
    font-size: var(--term_font_size);
}
#terminal-title {
    cursor: move;
    height:20px;
    overflow-x: auto;
    font-size: 18px;
    padding:0px 6px 0px 6px;
    color:black;
    background-color: var(--term_border);
}
#terminal-title::selection{
    color: var(--term_bg);
    background: var(--term_border);
}
#shellParagraph{
    overflow-y: scroll;
    padding: 10px;
    padding-top: 0px;
}
#shellParagraph::selection{
    color: var(--term_bg);
    background: var(--term_highlight);
}