
@font-face {
	font-family: 'Motiva Sans';
	src: url('/about/assets/MotivaSans-Regular.ttf') format('truetype');
    font-style: normal;
}
@font-face {
	font-family: 'Motiva Sans Medium';
	src: url('/about/assets/MotivaSans-Medium.ttf') format('truetype');
    font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans Light';
	src: url('/about/assets/MotivaSans-Light.ttf') format('truetype');
    font-style: normal;
}

:root{
    --text-color: rgb(221, 221, 221);
    --text-white: rgb(221, 221, 221);
    --text-grey: rgb(134, 134, 134);
    --white-outline: 1px solid rgba(255, 255, 255, 0.11);
    --panel-color: rgba(26, 26, 26, 0.651);
}

body{
    font-family: 'Motiva Sans Light';
    background-color: black;
    background-image: url("/about/assets/profile_background.jpg");
    background-position:top; 
    background-repeat: no-repeat;
}

#main{
    background-color: red;
    overflow: auto;
    background-color: #00000086;
    backdrop-filter: blur(4px);
    width: 976px;
    outline: 1px solid rgba(255, 255, 255, 0.075);
    padding: 15px;
    box-sizing: border-box;
    height: auto;
    margin-top: 5px;
    padding-top: 25px;
    border-radius: 2px;
    color: var(--text-white);
}

#container{ 
    padding-top: -10px;
    top: 0px;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 200px;
    
    padding-bottom: 50px;
}

#pfp{
    border: 2px solid rgb(80, 80, 80);
    box-sizing: border-box;
    margin-left: 10px;
    width: 168px;
    height: 168px;
    float: left
}

#badgecontainer{
    width: 265px;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}

#badge{
    font-size: 12px;
    font-family: 'Motiva Sans';
    width: 265px;
    border-radius: 2px;
    background-color: var(--panel-color);
    outline: var(--white-outline);
    background-color: rgb(19, 19, 19);
    overflow: auto;
}

#badge img{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
    width: 50px;
}

#badge p{
    margin-top: 15px;
}

#badgecontainer div{
    margin-top: 15px;
}

#badgecontainer button{
    font-family: 'Motiva Sans';
    outline: none;
    border: none;
    padding: 8px;
    color: var(--text-color);
    background-color: rgb(19, 19, 19);
    outline: var(--white-outline);
    border-radius: 2px;
}

#badgecontainer h2{
    margin: 0;
    font-weight: normal;
}

#badgecontainer span{
    border-radius: 50%;
    padding: 4px;
    font-size: medium;
    border: 2px solid #fecc23;
}

#about{
    float: left;
    margin-left: 35px;
}

#about h2 span{
    margin-left: 6px;
    font-size: x-small;
    cursor: pointer;
}

#about h2{
    margin: 0;
    margin-top: 2px;
    font-weight: normal;
}

#about p{
    font-size: 14px;
    color: lightgray;
    margin-top: 60px;
    width: 435px;
}

#bottom{
    float: left;
    margin-top: 20px;
    width: 650px;
}

#bottom .element{
    border-radius: 2px;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--panel-color);
    outline: var(--white-outline);
}

#panel{
    border-radius: 2px;
    padding: 10px;
    box-sizing: border-box;
    width: 280px;
    margin-top: 20px;
    background-color: var(--panel-color);
    outline: var(--white-outline);
    float: right;
}

a{ 
    color: var(--text-color);
    text-decoration: none;
}

.greyed{
    color: var(--text-grey)
}

a:hover{ 
    text-decoration: underline;
}

.media_display{
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(19, 19, 19);
    height: auto;
    margin-top: 16px;
    border-radius: 2px;
}

.media_title{
    margin-left: 10px;
    font-family: 'Motiva Sans';
    font-size: 14px;
    color: #ebebeb;
}

.media_display .underside{
    font-family: 'Motiva Sans';
    font-size: 14px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: rgb(31, 31, 31);
    height: 40px;
}

a:hover{
    cursor: pointer;
}

#panel h3{
    margin: 0px;
    font-weight: normal;
}

#panel .panel_link{
    margin-bottom: 15px;
    display: inline-block;
    font-size: 14px;
    font-family: 'Motiva Sans';
}

#panel .panel_counter{
    font-size: 16px;
    color: var(--text-grey);
}

#badges{
    margin-top: -10px;
}

#panel #badges img{
    margin: 3px;
    height: 54px;
    width: 54px;
    object-fit: contain;
    image-rendering: optimizeQuality;
}

#return_button{
    background-color: rgba(43, 43, 43, 0.712);
    border: 1px rgba(255, 255, 255, 0.199) solid;
    left: -60px;
    top: 30px;
    width: 40px;
    height: 40px;
    text-decoration: none;
    padding-top: 6px;
    padding-left: 11px;
    border-radius: 2px;
    box-sizing: border-box;
    position: absolute;
}

#return_button:hover{
    background-color: rgb(75, 75, 75);
}