@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/*             */
/* Both styles */
/*             */
.media_display .media_title:hover{
    /* text-decoration: underline; */
    cursor: default;
}

/*                   */
/* Big media display */
/*                   */

.media_header .topside > span{
    float: left;
}

.media_header img[src="/about/assets/image.svg"]{
    height: 18px;
    width: 18px;
    filter: invert(0.9);    
    margin: 0px;
    padding: 0px;
    fill: white;
}

.media_header img[src="/about/assets/image.svg"]::selection{
    background: unset;
}

.media_header .dropdown-menu{
    animation: fadeIn 0.2s;
    user-select: none;
    display: none;
    position: absolute;
    background-color: #161616cb;
    backdrop-filter: blur(5px);
    margin-top: -5px;
    width: 140px;
    padding: 5px;
    border: 1px solid rgba(170, 170, 170, 0.13);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.39);
}

.media_header .dropdown-menu a::selection{
    color: var(--text-color);
    background-color: unset;
}
.media_header .dropdown-menu a{
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    text-align: left;
    background-color: #4a4d5036;
    border-radius: 2px;
    padding: 4px;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
}

.media_header .dropdown-menu a:hover{
    background-color: #44464769;
}

.media_header .dropdown-menu a:last-of-type{
    margin-bottom: 0px;
}